.looginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: transparent;
}

.colummLogin {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
  margin-top: 100px;
 
}
.colummLogin p{
padding-top: 10px;
}
.colummLogin .tittle {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333;
}

.colummLogin .subTittle {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

.colummLogin .firstInputt {
  margin-bottom: 20px;
  
}

.colummLogin .inputGroupp input {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box; /* Shmang daljen jashte div-it */
}

.colummLogin .inputGroupp input:focus {
  border-color: #007bff;
  outline: none;
}

.colummLogin .ButonAdd {
  /* width: 100%; */
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.colummLogin .ButonAdd:hover {
  background-color: #0056b3;
}

.colummLogin .ButonAdd:disabled {
  background-color: #ccc;
}

.colummLogin .formFooter {
  margin-top: 20px;
  font-size: 14px;
   padding-bottom: 30px;
}

.colummLogin .formFooter a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}