body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  align-items: center;
  top: 0;
  z-index: 99;
}
.singUp {
  border: 2px solid #7ad4cc;
  margin-left: 40px;
  margin-right: 20px;
  border-radius: 50px;
  color: #20509e;
  padding: 10px 30px;
}
header ul {
  display: flex;
}
header ul li {
  padding-left: 30px;
  padding-right: 30px;
  list-style: none;
  justify-self: center;
  font-size: 18px;
}
header img {
  padding-left: 40px;
  width: 160px;
}
header ul li a {
  text-decoration: none;
  color: #20509e;
}


.activeHeader{
  background: linear-gradient(
    90deg,
    rgba(63, 61, 98, 1) 0%,
    rgba(49, 49, 219, 1) 46%,
    rgba(0, 194, 233, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.news {
  margin: 15% 10% 3% 10%;
}
.news .title {
  color: #20509e;
}
.news .title h1 {
  font-size: 40px;
}
.news .companyNews img {
  width: 100%;
  margin-top: 30px;
  height: 400px;
  border-radius: 20px;
  border: 2px solid #bdb5b5;
}
.news .companyNews {
  display: flex;
  align-items: center;
}
.news .companyNews p {
  font-size: 50px;
  color: #20509e;
  padding-left: 40px;
}

.news .row {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  column-gap: 30px;
}
.news .col img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #bdb5b5;
}
.news .col h5 {
  color: grey;
}
.news .col p {
  font-size: 30px;
  /* width: 60%; */
  margin: 0 auto;
  padding: 0;
  color: #20509e;
}
.pages {
  text-align: center;
  margin-top: 10%;
}
.pages a {
  color: #20509e;
  text-decoration: none;
  border: 2px solid #20509e;
  padding: 15px;
  border-radius: 10px;
  margin-left: 5%;
}

.pages .active {
  color: #fff;
  background: rgb(63, 61, 98);
  background: linear-gradient(
    90deg,
    rgba(63, 61, 98, 1) 0%,
    rgba(49, 49, 219, 1) 46%,
    rgba(0, 194, 233, 1) 100%
  );
}
a {
  text-decoration: none;
}

/* footer */

footer {
  background-image: url(../wave.svg);
  position: relative;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer .links {
  display: flex;
}

footer .row {
  position: absolute;
  bottom: 10px;
  display: flex;

  align-items: flex-end;
}
footer .col,
footer .formsFooter {
  margin: 10% 2% 10% 6%;
}
.col ul h1 {
  text-align: center;
}

footer .col ul {
  padding-right: 40px;
}
footer .col li {
  padding-top: 10px;
  align-items: center;
  list-style-type: none;
}
footer .col {
  display: flex;
}
footer .col img {
  display: flex;
  position: relative;
  bottom: -100px;
}
footer .col a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.formsFooter button {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.formsFooter {
  margin-right: 30px;
}
.formsFooter input {
  text-align: center;
  margin-bottom: 10px;
}

.formsFooter input[type="text"]::placeholder {
  font-size: 15px;
}
.formsFooter input {
  width: 300px;
  height: 40px;
  border: 2px solid #20509e;
  border-radius: 20px;
}
.formsFooter {
  padding-top: 40px;
}

button {
  background: rgb(63, 61, 98);
  background: linear-gradient(
    90deg,
    rgba(63, 61, 98, 1) 0%,
    rgba(49, 49, 219, 1) 46%,
    rgba(0, 194, 233, 1) 100%
  );
  border: 2px solid #fff;
  color: #ebebeb;
  cursor: pointer;
  font-size: 15px;
  border-radius: 50px;
  width: 140px;
  height: 50px;
  margin-left: 20px;
}
/* end footer */

.checkInput {
  color: #20509e;
  font-size: 30px;
  float: right;
  margin-right: 40px;
  margin-top: 20px;
  display: none;
}
#check {
  display: none;
}

/* media  query */
@media screen and (max-width: 480px) {
  .checkInput {
    display: block;
    float: right;
    margin-top: 30px;
  }

  header img {
    width: 20%;
    padding-left: 10px;
    padding-top: 10px;
  }
  header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(63, 61, 98);
    background: linear-gradient(
      90deg,
      rgba(63, 61, 98, 1) 0%,
      rgba(49, 49, 219, 1) 46%,
      rgba(0, 194, 233, 1) 100%
    );
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  header ul li {
    display: block;
    margin-top: 15%;
    font-size: 25px;
  }
  header ul li a {
    margin-top: 25%;
  }
  #check:checked ~ ul {
    left: 0;
  }
  /* end of header */
  /* footer */
  /*  footer  */
  footer .col img {
    display: none;
  }
  footer {
    width: 100%;
    text-align: center;
  }
  footer .col {
    padding-left: 23%;
  }
  footer .col ul {
    margin: 0;
    padding-left: 10px;
  }
  footer .formsFooter {
    margin: 0% 6%;
  }
  footer .col {
    margin: 0;
  }
  footer .row {
    text-align: center;
    display: block;
    left: 20%;
  }

  .formsFooter button {
    margin: 0 auto;
  }

  /* footer end */
  .title h1 {
    padding-top: 40px;
  }
  .news .row {
    display: block;
    text-align: left;
  }
  .news .row .col {
    margin-bottom: 40px;
  }

  .news .companyNews {
    display: block;
  }
  .news .companyNews p {
    padding: 0;
    font-size: 40px;
    text-align: center;
  }
}

/* tablet */

@media screen and (max-width: 768px) {
  .checkInput {
    display: block;
    float: right;

    color: #20509e;
  }
  #check {
    display: none;
  }
  header {
    display: block;
    height: max-content;
  }
  header ul {
    display: block;
    padding: 0;
  }
  header img {
    width: 25%;
    padding-left: 40px;
  }
  header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(63, 61, 98);
    background: linear-gradient(
      90deg,
      rgba(63, 61, 98, 1) 0%,
      rgba(49, 49, 219, 1) 46%,
      rgba(0, 194, 233, 1) 100%
    );
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  header ul li {
    display: block;
    margin-top: 15%;
    font-size: 25px;
  }
  header ul li a {
    color: aliceblue;
  }
  #check:checked ~ ul {
    left: 0;
  }
  header .singUp {
    margin: 0 auto;
    display: block;
    width: max-content;
    color: #fff;
  }
  /*  footer  */
  footer .col img {
    display: none;
  }
  footer {
    width: 100%;
    text-align: center;
  }
  footer .col {
    padding-left: 23%;
  }
  footer .col ul {
    margin: 0;
    padding-left: 10px;
  }
  footer .formsFooter {
    margin: 0% 6%;
  }
  footer .col {
    margin: 0;
  }
  footer .row {
    text-align: center;
    display: block;
    left: 20%;
  }

  .formsFooter button {
    margin: 0 auto;
  }

  /* footer end */
  .title h1 {
    padding-top: 40px;
  }
  .news .row {
    display: block;
    text-align: left;
  }
  .news .row .col {
    margin-bottom: 40px;
  }

  .news .companyNews {
    display: block;
  }
  .news .companyNews p {
    padding: 0;
    font-size: 40px;
    text-align: center;
  }
}

/* @media only screen and (min-width: 480px) and (max-width: 768px) {
  header {
    display: none;
  }
} */
