
.signUp {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  display: grid;
  justify-content: center;
 place-items: center;
  align-items: center;
  height: 100vh;
  
}
.signUp .tittle {
  text-align: center;
  font-size: 50px;

   background: -webkit-linear-gradient(
    90deg,
    rgba(63, 61, 98, 1) 0%,
    rgba(49, 49, 219, 1) 46%,
    rgba(0, 194, 233, 1) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.colum{
text-align: center;
}


.signUp input::placeholder {
  color: #20509e;
  
}
.signUp input,textarea{
  border: 1px solid #20509e;
}

input:focus,textarea:focus {
  outline: 1px solid #20509e;
  border: 1px solid transparent;
}
/* input */
.firstInput {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.firstInput input {
   
  width: 200px;
  height: 40px;
  margin-top: 40px;
}
.seconInput input{
  width: 420px;
  height: 40px;
  margin-top: 40px;
}
.inputGroup input{
  /* border: 1px solid #ada7a7; */
  border-radius: 10px;
  padding-left: 20px;
}
.inputGroup input::placeholder {
  color: #20509e;
}
.inputGroup textarea {
  padding-left: 10px;
  
  align-items: center;
  padding-top: 10px;
  border-radius: 10px;
  width: 420px;
  height: 25px;
  margin-top: 40px;
  
}
.inputGroup textarea::placeholder {
  /* padding: 10px; */
  color: #20509e;
}

input[type="date"] {
  color: #20509e; /* ngjyra e dates */
}

input[type="date"]::-webkit-datetime-edit {
  color: #20509e;
}

input[type="date"]::-webkit-datetime-edit-text {
  color: #20509e;
}

input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: #20509e;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(32%) sepia(92%) saturate(750%) hue-rotate(190deg);
  cursor: pointer;
}

.ButonAdd {
  display: block;
cursor:pointer;
  margin-top: 25px;
  border-radius: 20px;
  border: 2px solid #20509e;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  width: 300px;
  color: #fff;
  background: rgb(63, 61, 98);
  background: linear-gradient(
    90deg,
    rgba(63, 61, 98, 1) 0%,
    rgba(49, 49, 219, 1) 46%,
    rgba(0, 194, 233, 1) 100%
  );
  font-size: 16px;
  transform: translate(+20%);
}
.create {
  text-align: center;
  color: #20509e;
}
.create h4 {
  display: inline;
}
.disagree:checked ~ a {
  display: none;
}

.create input {
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .firstInput input {
    width: 150px;
  }
  .seconInput {
    text-align: center;
  }
  .seconInput input {
    width: 320px;
  }

  .inputGroup textarea {
    width: 320px;
  }
  .firstInput input {
    width: 150px;
  }
  .seconInput {
    text-align: center;
  }
  .seconInput input {
    width: 320px;
  }

  .create input[type="submit"] {
    width: 230px;
  }
}
